*.py[cod]
*.egg-info
*__pycache__*
feedstock-outputs
feedstock-tokens
.vscode/
built_dists/*
recipe/*
.mypy_cache/
.pytest_cache/
.ruff_cache/
built_dists/
conda_forge_webservices/_version.py
recipe/
