anaconda-client
black
conda
conda-build
conda-forge-pinning
conda-smithy>=3.7.6  # this pin is for bot automerge and maint. team bug fixes
python-dateutil
flake8
git
mock
nose
parameterized
pygithub>=1.54  # for GHA repo disptach
pytest
python=3.8.*
requests
ruamel.yaml>=0.16
ruamel.yaml.jinja2
tini
tornado
tqdm
