anaconda-client
black
cachetools
conda
conda-build
conda-forge-metadata
conda-forge-pinning
conda-smithy>=3.7.6  # this pin is for bot automerge and maint. team bug fixes
cryptography>=39
python-dateutil
flake8
git
lxml
mock
nose
parameterized
pygithub>=1.55  # for GHA repo disptach
pyjwt
pynacl
pytest
python=3.8.*
pytz
pyyaml
requests
ruamel.yaml>=0.16
ruamel.yaml.jinja2
shellcheck
tini
tornado
tqdm
