black
conda=4.8
conda-build
conda-forge-pinning
conda-smithy>=3.6.6  # this pin is for bot automerge
flake8
git
mock
nose
parameterized
pygithub
pytest
python=3.7.*
requests
ruamel.yaml>=0.16
ruamel.yaml.jinja2
tini
tornado
